@font-face {
  font-family: Roboto;
  src: url(../../police/Roboto-Regular.ttf);
}

@font-face {
  font-family: Shrikhand;
  src: url(../../police/Shrikhand-Regular.ttf);
}

.content {
  width: 100%;
  height: 100%;
  font-family: "Roboto",Arial,sans-serif;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bgc {
  width: 100%;
}

.bgc--fonce {
  background-color: #efefef;
  margin-bottom: -20px;
}

.bgc--claire {
  background-color: #f5f5f5;
}

.bgc--blanc {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10%;
}

.bgc--noir {
  background-color: black;
}

.localisation {
  text-align: center;
  margin-bottom: 0px;
}

.titre {
  font-family: Shrikhand;
}

.titre--bold {
  font-weight: bold;
}

.titre--bold__center {
  text-align: center;
}

.titre--bold__left {
  font-size: 130%;
  margin-left: 5%;
}

.titre--bold__left1 {
  font-size: 130%;
  margin-bottom: -30px;
}

.txt--gris__center {
  color: #7e7e7e;
  text-align: center;
}

.fonctionnement {
  margin-left: 5%;
}

.conteneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.num--entoure {
  border: 2px solid #8A2BE2;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 1px;
  text-align: center;
  position: relative;
  top: 50px;
  left: 10    px;
  color: white;
  background-color: #8A2BE2;
}

.num--entoure p {
  position: relative;
  bottom: 10px;
}

.cadre--arrondis {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5px;
  border: 2px solid #f5f5f5;
  border-radius: 5% / 100%;
  background-color: #f5f5f5;
  font-size: 20px;
}

.cadre--arrondis i {
  position: relative;
  top: 23px;
  right: 10px;
}

.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1024px) {
  .restaurant {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 350px;
  height: 200px;
  padding-bottom: 100px;
  border-radius: 100%;
}

@media (max-width: 1024px) {
  .image {
    width: 900px;
    height: 400px;
  }
}

.image img {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  width: 350px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1024px) {
  .image img {
    width: 900px;
    height: 400px;
  }
}

.new {
  color: #008000;
  background-color: #99E2D0;
  width: 20%;
  text-align: center;
  border-radius: 10%;
  height: 30px;
  position: relative;
  top: 40px;
  left: 270px;
}

@media (max-width: 1024px) {
  .new {
    left: 600px;
    top: 50px;
  }
}

.new p {
  position: relative;
  top: 5px;
}

.imgnew {
  margin-top: -46px;
}

.txt--img {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  bottom: 15px;
  margin-bottom: -50px;
  padding-left: 10px;
}

.txt--img p {
  position: relative;
  bottom: 10px;
}

.coeur {
  font-size: 150%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  bottom: 30px;
  right: 30px;
}

.txt--logo {
  color: #FFFFFF;
  text-decoration: none;
  font-family: Shrikhand;
  text-align: center;
  font-size: 150%;
  margin-bottom: -20px;
}

@media (max-width: 1024px) {
  .txt--logo {
    text-align: start;
    margin-left: 40px;
    padding-top: 10px;
    margin-bottom: 5px;
  }
}

footer {
  margin-top: -50px;
}

.footer--menu {
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 30px;
}

@media (max-width: 1024px) {
  .footer--menu {
    text-align: start;
    margin-left: 40px;
    font-size: 20px;
  }
}

.footer--menu a {
  text-decoration: none;
  color: #FFFFFF;
}

.fa-heart::before {
  content: "\f004";
  -webkit-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.fa-heart:hover::before {
  color: #9356DC;
  font-weight: bold;
  cursor: pointer;
}

button {
  background-color: #FF79DA;
  border: 2px solid #FF79DA;
  border-radius: 30px;
  color: #ffffff;
  height: 50px;
  width: 33%;
  margin-left: 33%;
  margin-right: 33%;
  margin-bottom: 50px;
}
/*# sourceMappingURL=main.css.map */