@import "../2.Utils/_varialbles" ;

button{
    background-color: $clr-secondary;
    border: 2px solid $clr-secondary;
    border-radius: 33% / 100%;
    color:#ffffff ;
    height: 50px;
    width: 33%;
    margin-left: 33%;
    margin-right: 33%;
    }