@import "../2.Utils/_varialbles" ;

button{
    background-color: $clr-secondary;
    border: 1px solid $clr-secondary;
    border-radius:30px;
    color:#ffffff ;
    height: 50px;
    width: 33%;
    margin-left: 33%;
    margin-right: 33%;
    margin-bottom: 50px;
    background: linear-gradient(180deg, #ff79da, #f071da, #e06adb, #cf64dc, #bd5fdc, #a95adc, #9356dc);
    }