@font-face {
  font-family: Roboto;
  src: url(../../police/Roboto-Regular.ttf);
}

@font-face {
  font-family: Shrikhand;
  src: url(../../police/Shrikhand-Regular.ttf);
}

.content {
  width: 100%;
  height: 100%;
}

.photo img {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: 40px;
}

@media (max-width: 1024px) {
  .photo img {
    height: 20%;
  }
}

.titre {
  text-align: center;
}

header {
  position: relative;
  top: 30px;
}

header i {
  text-decoration: none;
  color: black;
  font-size: 30px;
  position: relative;
  top: 25px;
  left: 20px;
}

header img {
  display: block;
  margin: auto;
  position: relative;
  bottom: 20px;
}

.bgc--noir {
  background-color: black;
}

.bgc--claire {
  width: 100%;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #f5f5f5;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  position: relative;
  bottom: 0px;
}

.bgc--blanc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFFFFF;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  height: 150px;
  overflow: hidden;
}

.titre {
  font-size: 50px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu .txt--bold {
  margin-left: 30px;
  font-size: 30px;
}

.menu .txt--soft {
  margin-left: 30px;
  font-size: 25px;
  margin-top: -30px;
}

.prix {
  font-weight: bold;
  font-size: 50px;
  padding-right: 50px;
  position: relative;
  top: 20px;
}

.animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 50px;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  left: 150px;
}

.bgc--blanc:hover > .animation {
  -webkit-animation: rotation 1000ms 150ms both;
          animation: rotation 1000ms 150ms both;
}

.check {
  background-color: #99E2D0;
  color: white;
  height: 100%;
  width: 150px;
}

.check i {
  position: relative;
  top: 50px;
  left: 50px;
}

@-webkit-keyframes rotation {
  1% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 1;
  }
}

@keyframes rotation {
  1% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 1;
  }
}

.animation:hover i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 450ms 500ms ease-out;
  transition: 450ms 500ms ease-out;
}

.fa-heart::before {
  content: "\f004";
  -webkit-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.fa-heart:hover::before {
  color: #9356DC;
  font-weight: bold;
  cursor: pointer;
}

.txt--logo {
  color: #FFFFFF;
  text-decoration: none;
  font-family: Shrikhand;
  text-align: center;
  font-size: 150%;
  margin-bottom: -20px;
}

@media (max-width: 1024px) {
  .txt--logo {
    text-align: start;
    margin-left: 40px;
    padding-top: 10px;
    margin-bottom: 5px;
  }
}

.txt--underline__tertiaire {
  width: 65px;
  height: 50px;
  border-bottom: 3px solid #99E2D0;
}

.footer--menu {
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 30px;
}

@media (max-width: 1024px) {
  .footer--menu {
    text-align: start;
    margin-left: 40px;
    font-size: 20px;
  }
}

.footer--menu a {
  text-decoration: none;
  color: #FFFFFF;
}

button {
  background-color: #FF79DA;
  border: 1px solid #FF79DA;
  border-radius: 30px;
  color: #ffffff;
  height: 50px;
  width: 33%;
  margin-left: 33%;
  margin-right: 33%;
  margin-bottom: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), color-stop(#f071da), color-stop(#e06adb), color-stop(#cf64dc), color-stop(#bd5fdc), color-stop(#a95adc), to(#9356dc));
  background: linear-gradient(180deg, #ff79da, #f071da, #e06adb, #cf64dc, #bd5fdc, #a95adc, #9356dc);
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=basem.css.map */