@import"../2.Utils/_varialbles";

@font-face {
    font-family: Roboto;
    src: url(../../police/Roboto-Regular.ttf);
}
@font-face {
    font-family:Shrikhand;
    src: url(../../police/Shrikhand-Regular.ttf);
}

.content{
    width: 100%;
    font-family: "Roboto",Arial,sans-serif;
}

.logo{
    display: block;
    width: 100%;
    margin-left: 30%;
    margin-right: auto;
}

.bgc{
    width: 100%;
    &--fonce{
        background-color: $gris-fonce;
        margin-bottom: -20px;
    }
    &--claire{
        background-color: $gris-claire;
    }
    &--blanc{
        background-color:$blanc;
    }
}

.localisation{
    text-align: center;
    margin-bottom: 0px;
}

img{
    width: 50%;
}

.titre{
    &--bold{
        font-weight: bold;
        &__center{
            text-align: center;
        }
        &__left1{
            margin-bottom: -30px;
        }
    }
}

.txt{
    &--gris{
        &__center{
            color: $gris-txt;
            text-align: center;
        }
    }
}

.conteneur{
    display:flex;
    flex-direction: column;
    

}

.num--entoure{
    border: 2px solid #8A2BE2;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 1px;
    text-align: center;
    position: relative;
    top: 50px;
    right: 5px;
    color: white;
    background-color:#8A2BE2 ;

    & p{
    position: relative;
    bottom: 10px;
    }
}

.cadre--arrondis{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
    border: 2px solid $gris-claire;
    border-radius: 5% / 100%; 
    background-color: $gris-claire;
    font-size: 20px;

        & i{
            position: relative;
            top: 23px;
            right: 10px;
        }
}


